.review-wrapper {
    flex-grow: 1;
    padding: 50px 60px 0;
    font-size: 16px;
}

.review-main {
    flex-grow: 1;
}

.review-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(0, 102, 204);
}

.review-card {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.review-col-title,
.review-col-content {
    text-align: left;
}
.review-col-title {
    width: 25%;
    padding-left: 30px;
}
.review-col-content {
    width: 35%;
}
.review-col-select { width: 5%; }
.review-col-writer { width: 10%; }
.review-col-date { width: 13%; }
.review-col-type { width: 7%; }
.review-col-status { width: 12%; }
.review-col-visible { width: 90px; text-align: center; }
.review-col-actions {
    width: 8%;
    text-align: center;
    vertical-align: middle;
}

.review-radio-group .ant-radio-button-wrapper {
    padding: 4px 16px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 0;
}
.review-radio-group .ant-radio-button-wrapper-checked {
    background-color: rgb(0, 102, 204);
    color: white;
    border-color: rgb(0, 102, 204);
    font-weight: bold;
}
.review-radio-group .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
}

.review-search-input {
    width: 200px;
    font-size: 14px;
    flex-shrink: 0;
}

.add-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    gap: 8px;
    padding-right: 0;
}

.review-best {
    background-color: #fff7d6;
    font-weight: bold;
    color: #ff9900;
}

.review-btn-best {
    background-color: transparent;
    border: 1px solid;
    border-radius: 20px;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 13px;
}

.review-btn-best.blue {
    color: rgb(0, 102, 204);
    border-color: rgb(0, 102, 204);
}
.review-btn-best.blue:hover {
    background-color: rgb(0, 102, 204);
    color: white;
}

.review-btn-best.pink {
    color: white;
    background-color: #ff9900;
}
.review-btn-best.pink:hover {
    background-color: #fab34a;
    color: white;
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
